@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family:'Cloister';
    src: url('../fontes/CloisterBlack.ttf') format("truetype");
    font-weight: normal;
    font-size: normal;
}

root{
--cor1: #0e7c7bff;
--cor2: #17bebbff;
--cor3: #d4f4ddff;
--cor4: #d62246ff;
--cor5: #4b1d3fff; 

--fonte-destaque: 'Cloister', arial;
--fonte-paragrafo: '"Playfair Display", serif';
}

*{
    margin: 0px;
    padding: 0px;
}
.L{
    max-height: 50px;
}

header{
    min-width: 20px;
    background-color:var(--cor4);
    margin: auto;
    text-align: center;
}

header h1{
    font-size: 40px;
    padding: 20px;
    font-family:var(--fonte-destaque);
}

header p{
    font-size: 20px;
}
